<div class="container">
    <div class="container-fluid container-style">

        <form [formGroup]="registrationForm" (ngSubmit)="register()"
              class="formstyle offset-sm-1 col-sm-10 offset-md-2 col-md-8 offset-lg-3 col-lg-6" *ngIf="!isSent">
            <h3 class="heading row offset-4">Registration</h3>
            <div class="row">
                <mat-form-field class="customwidth">
                    <input matInput placeholder="Enter email address" formControlName="email">
                    <mat-error *ngIf="emailControl.hasError('email') && !emailControl.hasError('required')">
                        Please enter a valid email address
                    </mat-error>
                    <mat-error *ngIf="emailControl.hasError('required')">
                        Email is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="customwidth">
                    <input matInput placeholder="Enter your firstname" formControlName="firstname">
                    <mat-error *ngIf="firstnameControl.hasError('maxlength') && !emailControl.hasError('required')">
                        String is too long
                    </mat-error>
                    <mat-error *ngIf="firstnameControl.hasError('required')">
                        Firstname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="customwidth">
                    <input matInput placeholder="Enter your lastname" formControlName="lastname">
                    <mat-error *ngIf="lastnameControl.hasError('maxlength') && !emailControl.hasError('required')">
                        String is too long
                    </mat-error>
                    <mat-error *ngIf="lastnameControl.hasError('required')">
                        Lastname is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="customwidth">
                    <input matInput placeholder="Enter your password" formControlName="password"
                           [type]="hide ? 'password' : 'text'">
                    <mat-icon matSuffix (click)="hide = !hide" class="cursor">{{hide ? 'visibility' : 'visibility_off'}}
                    </mat-icon>
                    <mat-error *ngIf="passwordControl.hasError('minlength') && !passwordControl.hasError('required')">
                        Password must contain more than 6 characters
                    </mat-error>
                    <mat-error *ngIf="passwordControl.hasError('maxlength') && !passwordControl.hasError('required')">
                        Password must contain less than 16 characters
                    </mat-error>
                    <mat-error *ngIf="passwordControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="customwidth">
                    <input matInput placeholder="Confirm your password" formControlName="confirmPassword"
                           [type]="hide ? 'password' : 'text'">
                    <mat-error
                            *ngIf="confirmPasswordControl.hasError('MatchPassword') && !confirmPasswordControl.hasError('required')">
                        Passwords doesn`t match
                    </mat-error>
                    <mat-error
                            *ngIf="confirmPasswordControl.hasError('minlength') && !confirmPasswordControl.hasError('required')">
                        Password must contain more than 6 characters
                    </mat-error>
                    <mat-error
                            *ngIf="confirmPasswordControl.hasError('maxlength') && !confirmPasswordControl.hasError('required')">
                        Password must contain less than 16 characters
                    </mat-error>
                    <mat-error *ngIf="confirmPasswordControl.hasError('required')">
                        Password is <strong>required</strong>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row offset-5 submit">
                <button mat-button class="btn btn-success" [disabled]="!registrationForm.valid">Submit</button>
            </div>
        </form>
        <div class="row" *ngIf="isSent">
            <div class="col-12 text-center">
                <h4 style="color:grey">Check your email and confirm registration</h4>
                <h5 style="color:grey">If you did not get email. Fill and send confirmation form one more time</h5>
            </div>
        </div>
    </div>
</div>