<h1 mat-dialog-title style="text-align: center">Enter spot number</h1>
<form #spotForm>
    <mat-form-field>
        <input matInput [(ngModel)]="data.spotNumber" maxlength="5" pattern="\d[0-9]{0,4}"
               placeholder="Enter spot number" required name="spotNumber">
    </mat-form-field>
    <div>
        <input type="checkbox" [(ngModel)]="data.hasCharger" name="hasCharger">
        <span> Has charger</span>
    </div>
    <div>
        <input type="checkbox" [(ngModel)]="data.isInvalid" name="isInvalid">
        <span> Is accessible</span>
    </div>
    <div>
        <input type="checkbox" [(ngModel)]="data.isBlocked" name="isBlocked">
        <span> Is blocked</span>
    </div>
</form>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()" [mat-dialog-close]="data">Cancel</button>
    <button mat-button color="primary" (click)="onOkClick()" [mat-dialog-close]="data"
            cdkFocusInitial [disabled]="!spotForm.checkValidity()">Add
    </button>
</div>
