<div class="container">
    <!-- Waiting -->
    <div class="container-fluid" *ngIf="!isChanging">
        <div class="row">
            <div class="col-12 text-center">
                <h3>Your password is changing, please wait</h3>
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>
            </div>
        </div>
    </div>
    <!-- Successfully -->
    <div class="container-fluid" *ngIf="isChanging">
        <div class="row">
            <div class="col-12 text-center">
                <img src="https://static.mytaxi.com/images/layout-1/icons/success.svg" alt="Successful">
                <h3>Your password is changed successfully</h3>
            </div>
        </div>
    </div>
    <!-- Error -->
    <div class="container-fluid" *ngIf="isError">
        <div class="row">
            <div class="col-12 text-center">
                <img src="http://www.bs21.ru/upload/iblock/591/591a1872b10e4660b7eb1bfe94a24ccc.png" alt="Successful">
                <h3>Sorry, some error during password changing. Try latter</h3>
            </div>
        </div>
    </div>
</div>
